/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: #4E4FEB;
  --black-color: hsl(0, 0%, 0%);
  --black-color-light: hsl(0, 0%, 40%);
  --white-color: hsl(0, 0%, 95%);
  --title-color: hsl(0, 0%, 0%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 64%);
  --body-color: hsl(0, 0%, 87%);
  --container-color: hsl(0, 0%, 83%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Bai Jamjuree", sans-serif;
  --biggest-font-size: 3.0rem;
  --h1-font-size: 1.75rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 4.5rem;
    --h1-font-size: 3rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.5rem;
    --normal-font-size: 1.4rem;
    --small-font-size: 1rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background-color .4s; /* para dark mode */
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/
.nav__buttons{
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.change-theme{
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
  transition: color .3s;
}

/*========== Variables Dark theme ==========*/
body.dark-theme{
  --first-color: #3F0071;
  --black-color: hsl(0, 0%, 18%);
  --black-color-light: hsl(0, 0%, 30%);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 70%);
  --body-color: hsl(0, 0%, 8%);
  --container-color: hsl(0, 0%, 12%);
}

/*========== 
	Color changes in some parts of 
	the website, in dark theme
==========*/
.dark-theme .shadow-header{
  box-shadow: 0 1px 12px hsla(0, 0%, 0%, .6);
}

.dark-theme .skills__data:hover{
  transform:translateY(-1em);
  box-shadow: 0px 6px 6px rgb(82, 0, 145) ;
}

.dark-theme .section__title-1::after,
.dark-theme .section__title-2::after{
  background-color: #3F0071;
}

.dark-theme .home__description b{
  background:linear-gradient(90deg,
              #3F0071,
              hsla(14, 80%, 50%, 0));
}

.dark-theme :is(.button__ghost, .services__icon i ){
  color: var(--white-color);
}

.dark-theme :is(.home__social-link){
  color: var(--white-color);
}

.dark-theme .projects__card:hover{
  background-color: var(--body-color);
}

.dark-theme :is(.contact__mail, .contact__input, .contact__label){
  background-color: var(--container-color);
}

.dark-theme .footer{
  background-color: var(--black-color);
}

.dark-theme::-webkit-scrollbar{
  background-color: hsla(0, 0%,20%);
}

.dark-theme::-webkit-scrollbar-thumb{
  background-color: hsla(0, 0%,30%);
}

.dark-theme.dark-theme::-webkit-scrollbar-thumb:hover{
  background-color: hsla(0, 0%,60%);
}

.dark-theme :is(.contact__social){
  background-color: transparent;
}

.dark-theme .contact__social-description-1{
  color: var(--white-color);
}

.dark-theme .contact__social-arrow{
  filter: invert(0);
}

.dark-theme .contact__social-link{
  color: var(--white-color);
}


/*=============== REUSABLE CSS CLASSES ===============*/

.container {
  max-width: 100%;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  
}

.section {
  padding-block: 4rem 2rem;
}
/*about me*/
.section__title-1, 
.section__title-2 {
  position: relative;
  font-size: var(--h1-font-size);
  width: max-content;
  margin: .75rem auto 2rem;
}

.section__title-1 span, 
.section__title-2 span {
  z-index: 5;
  position: relative;
}

.section__title-1::after, 
.section__title-2::after {
  content: "";
  width: 40px;
  height: 28px;
  background-color: #4E4FEB;
  position: absolute;
  top: -4px;
  right: -8px;
}

.section__title-2::after {
  top: initial;
  bottom: -4px;
}

.geometric-box {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--first-color);
  rotate: -30deg;
}

.geometric-box::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border: 3px solid var(--black-color);
  left: -5px;
  top: -5px;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: box-shadow .4s, background-color .4s;
}

.nav{
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav__logo{
  display: flex;
  column-gap: .5rem;
  align-items: center;
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.nav__logo-circle,
.nav__toggle{
  width: 32px;
  height: 32px;
  background-color: var(--black-color);
  color: var(--white-color);
  display: grid;
  place-items: center;
}

.nav__logo-circle{
  border-radius: 50%;
}

.nav__toggle{
  font-size: 1.25rem;
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px){
  .nav__menu{
    position: fixed;
    top: -100%;
    left: 0;
    background-color: hsla(0, 0%,0%, .75);
    width: 100%;
    padding-block: 1.8rem 5rem;
    text-align: center;
    backdrop-filter: blur(8px);
    transition: top .4s;
  }
}

.nav__title,
.nav__name,
.nav__close{
  color: var(--white-color);
}

.nav__title{
  display: block;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 3.5rem;
}

.nav__name{
  position: relative;
  width: max-content;
  margin: 0 auto 3rem;
  font-size: var(--h2-font-size);
}

.nav__name::after,
.nav__name::before{
  content:'';
  width: 40px;
  height: 1px;
  background-color: var(--text-color-light);
  position: absolute;
  top: 50%;
  left: -4rem;
}

.nav__name::before{
  left: initial;
  right: -4rem;
}

.nav__list{
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link{
 position:relative;
 color: var(--text-color-light);
 font-size: var(--h3-font-size); 
 font-weight: var(--font-semi-bold);
 transition: color .3s;
}

.nav__link-button {
  position:relative;
  color: var(--text-color-light);
  font-size: var(--h3-font-size); 
  font-weight: var(--font-semi-bold);
  transition: color .3s;
}

.nav__link-button::after{
  content:'';
  width: 0;
  height: 2px;
  background-color: var(--white-color);
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  transition: width .3s;
}

.nav__link-button:hover{
  color: var(--white-color);
}

.nav__link-button:hover::after{
  width: 25%;
}

.nav__link::after{
  content:'';
  width: 0;
  height: 2px;
  background-color: var(--white-color);
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  transition: width .3s;
}

.nav__link:hover{
  color: var(--white-color);
}

.nav__link:hover::after{
  width: 25%;
}

.nav__close{
  position: absolute;
  font-size: 1.5rem;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
}

/* Show menu */
.show-menu{
  top: 0;
}

/* Add shadow header */
.shadow-header{
  box-shadow: 0 1px 16px hsla(0, 0%, 0%, .12)
}

/* Active link */


/*=============== HOME ===============*/

.home__description{
  position: relative;
  align-self: center;
  justify-self: center;
  color: var(--title-color);
  top: 14rem;
}


.home__name{
  font-size: var(--biggest-font-size);
  position: relative;
  text-align: center;
  align-items: center;
  justify-self: center;
  padding-bottom: 1.5rem;
  top: 70%;

}

.home__perfil{
  position: relative;
  justify-self: left;
}

.home__social{
  position: relative;
  justify-self: left;
  display: grid;
  flex-direction: row;
  row-gap: 1rem;
  column-gap: 1rem;
}

.home__container.container.grid{
  position: relative;
  justify-self: center;
  height: 100vh; 
  justify-content: center;
}


.home__social-link{
  color: var(--black-color);
  font-size: 1.8rem;
  padding: 6px;
  display: grid;
  place-items: center;
  transition: background-color .3s;
}

.home__social-link:hover{
  background-color: #7D7C7C;
}

.home__info{
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}

.home__description b{
  background: linear-gradient(90deg,
              var(--first-color),
              hsla(14, 98%, 50%, 0));
}

.home__scroll{
  display: block;
  width:max-content;
  margin: 0 auto;
}

.home__scroll-text{
  display: none;
}

.home__scroll-box{
  background-color: var(--black-color);
  color: var(--white-color);
  width: 36px;
  height: 36px;
  display: grid;
  place-items: center;
  font-size: 1rem;
  cursor: pointer;
  overflow: hidden;
  transition: background-color .4s;
}

.home__scroll-box i{
  animation: scroll-down 3s infinite;
}

/* Animate scroll icon */
@keyframes scroll-down{
  0%{
    transform: translateY(-1rem);
    opacity: 0;
  }
  50%{
    transform: translateY(0);
    opacity: 1;
  }
  100%{
    transform: translateY(.6rem);
    opacity: 0;
  }
}

/*=============== BUTTON ===============*/
.button,
.button__ghost{
  display:flex;
  align-items: center;
  justify-content: center;
  column-gap: .5rem;
}

.button{
  background-color: var(--black-color);
  padding: 1.1rem 1.5rem;
  color: var(--white-color);
  font-weight: var(--font-medium);
  transition:background-color .4s;
}

.button i{
  font-size:1.25rem;
}

.button:hover{
  background-color: var(--first-color);
}

.button__ghost{
  color: var(--black-color);
  padding: .5rem;
  transition: border .4s, color .4s;
}

.button__ghost i{
  font-size: 1.9rem;
}

.button__ghost:hover{
 background-color: #7D7C7C;
}
/*=============== ABOUT ===============*/
.about{
 background-color: var(--container-color);
 transition: background-color .4s;
}

.about__container{
  row-gap: 0;
}

.about__perfil{
  position:relative;
  justify-content: center;
  margin-block: 2.5rem 4.5rem;
}

.about__info{
  padding-left: 1.25rem;
}

.about__description{
  position: relative;
  color: var(--title-color);
  margin-bottom: 1.5rem;
}

.about__description::after{
  content:'';
  width: 20px;
  height: 1px;
  background-color: var(--title-color);
  position: absolute;
  left: -1.75rem;
  top:.5rem;
}

.about__list{
  list-style-type: style square;
  color: var(--title-color);
  margin-bottom: 3rem;
}

.about__buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}


/*=============== SKILLS =============*/

.skills__container.container.container.grid{

  row-gap: 1rem;
  transition: background-color .4s;
}

.skills__title{
  display: absolute;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
  font-size: var(--normal-font-size);
  font-weight: var(--font-bold);
  margin-bottom: 2.5rem;
}

.skills__container .container .grid .section__border{
  grid-template-columns: 250px;
  justify-content:center;
  row-gap: 2rem;
  padding-top: 1rem;
  position: relative;
}


.skills__title{
  display: absolute;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
  font-size: 1.40rem;
  font-weight: var(--font-bold);
  margin-bottom: 2.5rem;
}

.skills__title i{
  font-size: 2rem;
  font-weight: initial;
}

.skills__info,
.skills__data,
.skills__blob{
  display: grid;
}

.skills__info{
  width: 100%;
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr ;
  grid-template-rows: 1fr;
  justify-content: space-between;
  gap: 0rem;
  padding-right: 30rem;
}


.skills__blob{
  place-items: center;
}

.skills__data{

 width: 10rem;
 height: 10rem;
 display:flex;
 justify-content: center;
 align-items:center;
 cursor:pointer;
 padding: 1.5rem 1rem;
 border-radius: 7px;
 transition:.4s ease-in-out;
 margin-left: 0.5rem;
}

.svg-img {
  transform: scale(1.3); 
  padding-bottom: 1rem;
}



.skills__data:hover{
  transform:translateY(-1em);
  box-shadow: 0px 6px 6px rgba(56, 56, 56, .15) ;
}

.skills__blob img{
  width: 53px;
  padding-bottom: 1rem;
}

.tech__subtitle{align-self:flex-start;font-size:var(--medium-size);font-weight:var(--bold-font);padding:.8em 0}


.skills__name{
  font-size: var(--normal-font-size);
  font-weight: var(--font-regular);
}


/*=============== SERVICES ===============*/
.services__container{
  grid-template-columns: 350px;
  justify-content: center;
  row-gap: 2rem;
  padding-top: 1rem;
}

.services__card{
  position: relative;
}

.services__content{
  height: 100%;
  background-color: var(--body-color);
  border: 4px solid var(--black-color);
  padding: 7rem 1rem 4rem;
  z-index: 5;
  position:relative;
  transition: background-color .4s, border 4s;
}

.services__border{
  position: absolute;
  width: 100%;
  height: 100%;
  border: 4px solid var(--first-color);
  top: 0;
  left: 0;
  transition: transform .4s;
}

.services__card:hover .services__border{
  transform: translate(.75rem, .75rem);
}

.services__icon{
  position: relative;
  display: inline-block;

}

.services__icon i{
  font-size: 2rem;
  color: var(--black-color);
  position: relative;
  z-index: 5;
}

.services__box{
  position: absolute;
  width:24px;
  height: 24px;
  background-color: var(--first-color);
  right: -2px;
  top:-2px;
}

.services__title{
  font-size: var(--h2-font-size);
  margin-bottom: 1.25rem;
}

.services__description{
  font-size: var(--h3-font-size);
}

/*=============== PROJECTS ===============*/
.projects{
  background-color: var(--container-color);
  transition:background-color .4s;
}

.projects__container{
 row-gap: 2rem;
  display: grid;
  grid-template-columns: 1fr;
}

.projects__card{
  padding: 1rem 1rem 2rem;
  transition: background-color .4s;
}

.projects__image{
  position: relative;
  margin-bottom: .75rem;
}

.projects__button{
  position: absolute;
  right: 1rem;
  bottom: -1.5rem;
  padding: 1rem;
}

.projects__content{
  margin-bottom: 1.25rem
}

.projects__subtitle{
  position: relative;
  display: inline-block;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  margin-bottom: .75rem;
  padding-left: 1.75rem;
}

.projects__subtitle::after{
  content: '';
  width: 20px;
  height: 1px;
  background-color: var(--text-color);
  position: absolute;
  top: 50%;
  left: 0;
}

.projects__title{
  font-size: var(--h3-font-size);
  margin-bottom: .75rem;
}

.projects__buttons{
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.projects__link{
  display: flex;
  align-items: center;
  column-gap: .25rem;
  color: var(--text-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  transition: color .4s;
}

.projects__link i{
  font-size: 1rem;
  color: var(--title-color);
  transition: color .4s;
}

.projects__link:hover,
.projects__link:hover i{
  color: var(--first-color);
}

.projects__card:hover{
  background-color: var(--white-color);
}

/*=============== CONTACT ===============*/
.contact{
  padding-bottom: 0;
}

.contact__container{
  position: relative;
  grid-template-rows: 300px max-content max-content;
  row-gap: 0;
}

.contact__data{
  position:relative;
  width: 300px;
  height: 300px;
  background-color: var(--container-color);
  padding: 3rem 1.5rem 3.5rem;
  margin-left: auto;
  border-bottom: 4px solid var(--first-color);
  z-index: 5;
  transition: background-color .4s;
}

.contact__data .section__title-2{
  margin: 0 0 1.5rem;
  transform: translateX(-3rem);
}

.contact__description-1{
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-bottom:  2rem;
}

.contact__description-2{
  color: var(--title-color);
  font-size: var(--small-font-size);
}

.contact__mail{
  position:relative;
  background-color: var(--black-color);
  padding: 5rem 1.5rem 2.5rem;
  margin-top: -2.5rem;
  transition: background-color .4s;
}

.contact__title{
  color: var(--white-color);
  font-size: var(--h2-font-size);
  margin-bottom: 2rem;
  text-align: center;
}

.contact__form,
.contact__group{
  display: grid;
  row-gap: 1.25rem;
}

.contact__form{
  position:relative;
}

.contact__box{
  position: relative;
  width: 100%;
  height: 58px;
}

.contact__input,
.contact__button{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  outline: none;
  border: none;
}

.contact__input{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--black-color);
  border: 3px solid var(--black-color-light);
  color: var(--white-color);
  padding: .5rem 1rem;
  font-weight: var(--font-medium);
  transition: border .4s, background-color .4s;
}

.contact__input::placeholder{
  color: var(--text-color-light);
  transition: opacity .4s;
}

.contact__input:focus{
  border: 3px solid var(--white-color)
}

.contact__input:-webkit-autofill{
  transition: background-color 6000s, color 6000s;
}

.contact__label{
  position: absolute;
  top: -16px;
  left: 10px;
  color: var(--text-color-light);
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  background-color: var(--black-color);
  padding: 8px;
  pointer-events: none;
  transition: top .4s, opacity .4s, background-color .4s;
  opacity: 0;
}

.contact__form .contact__area{
  height: 10rem;
}

.contact__area textarea{
  resize: none;
  padding-top: 1rem;
}

.contact__button{
  background-color: var(--first-color);
  cursor: pointer;
}

/* Opaque placeholder */
.contact__input:focus::placeholder{
  opacity: 0;
}

/* Move label up & sticky label */
.contact__input:focus + .contact__label,
.contact__input:not(:placeholder-shown).contact__input:not(:focus) + .contact__label{
  opacity:1;
  top: -16px;
}

.contact__social{
  display: grid;
  row-gap: 1rem;
  background-color: transparent;
  padding-block: 1rem 2rem;
  text-align: center;
}

.contact__social-arrow{
  width: 32px;
  margin: 0 auto;
  filter:invert(1)
}

.contact__social-data{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.contact__social-description-1{
  color:var(--black-color);
  font-size: var(--font-medium);
  font-weight: var(--font-semi-bold);
  margin-bottom: .1rem;
}

.contact__social-links{
  display: flex;
  justify-content: center;
  column-gap: .75rem;
}

.contact__social-link{
  
  color: var(--black-color);
  padding: 6px;
  font-size: 1.25rem;
  display: grid;
  place-items: center;
  transition: background-color .3s;
}

.contact__social-link:hover{
  background-color: #7D7C7C;
}


/*=============== FOOTER ===============*/
.footer{
  background-color: hsl(0, 0%, 12%);
}

.footer__container{
  padding-block: 3rem 2rem;
  row-gap: 2.5rem;
}

.footer__links{
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}

.footer__link{
  color: var(--white-color);
  transition: color .4s;
}

.footer__link:hover{
  color: var(--text-color-light);
}

.footer__copy{
  color: var(--text-color-light);
  font-size: var(--small-font-size);
  text-align: center;
}

.footer__copy a{
  color: var(--white-color);
  font-weight: var(--font-medium);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(0, 0%, 65%);
}

::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: hsl(0, 0%, 55%);
}

::-webkit-scrollbar-thumb:hover{
  background-color: hsl(0, 0%, 45%);
}

/*=============== SCROLL UP ===============*/
.scrollup{
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: var(--black-color);
  display: inline-flex;
  padding: 8px;
  font-size: 1.25rem;
  color: var(--white-color);
  z-index: var(--z-tooltip);
  transition: bottom .4s, transform .4s, background-color .4s;
}

.scrollup:hover{
  transform: translateY(-.5rem);
}

/* Show Scroll Up */
.show-scroll{
  bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 420px){
  .container{
    margin-inline: 1rem;
  }

  .contact__data{
    width: 100%;
  }
  .contact__data .section__title-2{
    transform: translateX(0)
  }

  .skills__info{
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }

  .skills__container.container.grid.section__border{
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .home__container.container.grid{
    height: 100vh;
  }


  .home__description{
    margin-bottom: 10rem;
  }


  .home__social{
    bottom: 4rem;
  }

  .home__perfil{
    position: relative;
    justify-self: center;
    padding-top:0.5rem;
  }
  
  .home__social{
    position: relative;
    justify-self: left;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    bottom: -2.5rem;
  }

  .home__description b{
    margin: auto;
  }
  
  .home__name{
    margin-top: -5rem;
    font-size: 3.5em;
  }

  .projects__subtitle{
    font-size: 1.2rem;
  }

  .projects__title{
    font-size: 1.5rem;
  }

  .projects__description{
    font-size: 1.3rem;
  }

  .projects__link,
  .projects__link i{
    font-size: 1.3rem
  }

  .projects__img{
    width: 100%
  }


}


/* For medium devices */
@media screen and (min-width: 424px){


  p.home__description{
    margin-bottom: 1rem;
  }

  .home__perfil{
    position: relative;
    justify-self: center;
    padding-top:0.5rem;
  }
  
  .home__social{
    position: relative;
    justify-self: left;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    bottom: -2.5rem;
  }

  .skills__info{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    justify-content: space-between;
    gap: 1em;
  }

  .projects__container.container.grid{
    
    row-gap: 2rem;
     display: grid;
     grid-template-columns: 1fr;
   
  }

  .projects__subtitle{
    font-size: 1.2rem;
  }

  .projects__title{
    font-size: 1.5rem;
  }

  .projects__description{
    font-size: 1.3rem;
  }

  .projects__link,
  .projects__link i{
    font-size: 1.3rem
  }


}

@media screen and (min-width: 480px){

  p.home__description{
    margin-bottom: 2.8rem;
  }
}

@media screen and (min-width: 560px){
  .home__name{
    font-size: 3.8em;
  }

  p.home__description{
    margin-bottom: 1.5rem;
  }

  .home__social{
    margin-top: 1.5rem;
  }

  .projects__link,
  .projects__link i{
    font-size: 1.3rem;
  }

}

@media screen and (min-width: 576px){

  .home__name{
    font-size: 4.5rem; 
  }

  p.home__description{
    margin-bottom: 2.5rem;
  }

  .about__container,
  .projects__container{
    grid-template-columns: 700px;
    justify-content: center;
  }

  .contact__data{
    width: 350px;
    padding: 4rem 1.5rem;
    margin-inline: auto;
  }

  .contact__container{
    grid-template-columns: 500px;
    justify-content: center;
  }

  .contact__group{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }

}

@media screen and (min-width: 576px){
  .home__name{
    margin-top: -0.5rem;
    font-size: 3.8em;
  }

  .home__social-link{
    font-size: 2.2rem;
  }
}


@media screen and (min-width: 768px){

    .projects__container.container.grid{
      grid-template-columns: repeat(2, 350px);
      width: 100%;
      row-gap: 2rem;
    }

    .projects__description{
      font-size: 1.3rem;
    }

    .projects__title{
      font-size: 1.5rem;
    }

    .projects__subtitle{
      font-size: 1.3rem;
    }


    .services__description{
      font-size: var(--normal-font-size);
    }

    .home__name{
        margin-top: -1rem;
        font-size: 5em;
      }
    
    
    .home__social-link{
      font-size: 3rem;
    }

    .skills__info{
      width: 70%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      justify-content: space-between;
      gap: 1em;
    }

    .projects__link,
    .projects__link i{
      font-size: 1.4rem
    }
  
    
}

/* For large devices */

@media screen and (min-width: 1250px){

  .home__container.container.grid{
    justify-content: center;
    flex-direction: column;
  }


  .home__social{
    position: absolute;
    bottom: 1rem;
    display: grid;
    right: 35rem
  }

  .home__social-link{
    font-size: 3rem;
  }


}

@media screen and (min-width: 1150px){
  .container{
    margin-inline: 1.5rem;
    max-width: 100%;
  }

  .section{
    padding-block: 7rem 2rem;
  }
  
  .section__title-1::after,
  .section__title-1::after{
    width: 70px;
    height: 48px;
  }

  .nav{
    height: calc(var(--header-height) + 2rem);
    column-gap: 4rem;
  }
  .nav__close,
  .nav__toggle,
  .nav__title,
  .nav__name{
    display: none;
  }

  .nav__list{
    flex-direction: row;
    column-gap: 4rem;
  }

  .nav__menu{
    margin-left: auto;
  }

  .nav__link{
    color: var(--text-color);
    font-size: var(--normal-font-size);
  }

  .nav__link:hover{
    color: var(--title-color)
  }

  .nav__link::after{
    background-color: var(--title-color);
  }

  .active-link{
    color: var(--title-color);
  }

  .nav__link-button{
    background-color: var(--black-color);
    color:var(--white-color);
    padding: 1.1rem 1.5rem;
  }

  .nav__link-button:hover{
    color: var(--white-color);
  }

  .nav__link-button::after{
    background-color: transparent;
  }

  .change-theme{
    color: var(--text-color);
  }

  .change-theme:hover{
   color: var(--title-color);
  }

  p.home__description{
    margin-bottom: 2rem;
  }
  
  .home__name{
    margin-bottom: -2rem;
    margin-top: -3rem;
  }

  .home__scroll{
    display: flex;
    align-items: center;
    column-gap: .75rem;
  }

  .home__scroll-box{
    align-items: center;
    justify-content: center;
  }

  .home__scroll-text{
    display: block;
    color: var(--text-color);
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
  }

  .home__scroll-box{
    width: 44px;
    height: 44px;
  }

  .home__scroll-box i{
    font-size: 1.25rem;
  }

  .about__description{
    font-size: var(--h2-font-size);
  }

  .about__description::after{
    width: 32px;
    height: 2px;
    left: -3rem;
    top: 14px;
  }
  .about__list{
    margin-bottom: 5rem;
  }
  .button__ghost{
    padding: 1rem;
  }

  .projects__card{
    padding: 1.25rem 1.25rem 2.5rem;
  }

  .projects__image{
    margin-bottom: 1rem;
  }

  .projects__content{
    margin-bottom: 2rem;
  }

  .projects__button{
    right: 1.25rem;
  }

  .projects__card{
    width: 500px
  }

  .projects__link,
  .projects__link i{
    font-size: 1.8rem
  }

  .projects__description{
    font-size: 1.2em;
  }

  .projects__container.container.grid{
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(2, 30em);
    width: 100%;
    row-gap: 1rem;
    margin-left: 3rem;
    
  }

  .contact__container.grid{
    grid-template-columns:  440px 800px;
    grid-template-rows: initial;
    padding-bottom: 2rem;
  }

  .contact__mail{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    padding: 7rem 5.5rem 6rem 7.5rem;
    margin-top: 0;
  }

  .contact__title{
    font-size: var(--h3-font-size);
    text-align: initial;
  }

  .contact__box{
    height: 60px;
  }

  .contact__form .contact__area{
    height: 11rem;
  }

  .contact__button{
    margin-top: 1.25rem;
    width: max-content;
  }

  .contact__data{
    width: 392px;
    height: 375px;
    padding: 4.5rem 3.5rem 3.5rem;
    margin: 7.5rem 0 0 8rem;
    border-bottom: 6px solid var(--first-color);
  }

  .contact__data .section__title-2{
    margin:0 0 2rem;
    transform: translateX(-6.5rem);
  }
  
  .contact__social{
    margin-left: 8rem;
    text-align: initial;
  }

  .contact__social-data{
    flex-direction: row;
    align-items: center;
    column-gap: 1.25rem;
  }
  .contact__social-arrow{
    width: 40px;
  }

  .contact__social-link{
    font-size: 1.5rem;
    padding: .5rem;
  }

  .contact__message{
    bottom: -2.5rem;
  }

  .dark-theme .contact__data{
    box-shadow: 4px 0 8px hsla(0, 0%, 4%, .3);
  }

  .scrollup{
    right: 3rem;
  }

  .change-theme{
    font-size: 1.9rem;
    color: var(--title-color);
    cursor: pointer;
    transition: color .3s;
  }
}

@media screen and (min-width: 1540px){
  
  .projects__link,
  .projects__link i{
    font-size: 1.4rem
  }

  .projects__description{
    font-size: 1.25rem;
  }

  .projects__container.container.grid{
    display: grid;
    grid-template-columns: repeat(3, 24em);
    padding-block: 3rem 1rem;
    margin-right: -30rem;
  }


}